 /* Background Color of webpage*/
 .head {
  background-color: black;
  }

 /*Developer name and box */ 
  header h1{
  color:white;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size:100px;
  height: 45px;
  margin-bottom: 100px;
  padding-bottom:15px;
  }

  /*Developer Image*/
  img#face-img.navigation{
  float:left;
  margin-left:30px;
  max-width: 200px;
  max-height: 200px;
  border-style:solid;
  border-width:5px;
  margin-bottom: 5px;
  border-radius:10px;
  }

  /*Navigation box*/
  header div.nav-selection{
  float:right;
  min-width: 70%;
  width: auto;
  display:flex;
  }

  /*Navigation face plates*/
  header section.card{
  font-size: 30px;
  }

  /*Navigation bar for portfolio*/
  header a#portfolio-navigation{
  text-decoration:none;
  color:white;
  margin-left:30px; 
  }

  /*Navvigation section for contact me*/
  header a#contact-me-nav{
  text-decoration:none;
  color:white;
  margin-left:30px;  
  }

  /*Navigation section for about me*/
  header a#about-me-nav{
  text-decoration:none;
  color:white;
  margin-left:30px; 
  }

  /*body style code */
  body{
  color:black;
  font-family: 'Oswald', sans-serif;
  background-color:black;
  color:white;
  display:flex;
  font-size:15px;
  }

  /*Style code pertaining to the top image box under navigation*/
  div.portfolio-top-image{
  display:flex;
  justify-content:center;
  align-items:center;
  overflow:hidden;
  margin-bottom:50px;
  margin-top:125px;
  margin-left:20px;
  margin-right:20px;
  border-style:solid;
  border-width:5px;
  border-radius:20px;
  box-shadow:5px 10px 6px white;
  }

  /*style code for the 3 portfolio image boxes under top image box named portfolio 4*/
  section.first-images{
  width: 100%;
  min-height: 350px;
  margin-bottom:100px;
  }

  /*style code for the image in the top image portfolio box*/
  img.port-img-top{
  flex-shrink:0;
  min-width:50%;
  min-height:50%;
  }

  /*style code for the 3 actual images within the boxes*/
  img.Port-img{
  border-radius: 25px;
  border-style:solid;
  border-width: 5px;
  border-color:whitesmoke;
  background: #ffffff;
  width:95%;
  height: auto;
  display:wrap;
  box-shadow: 5px 10px 6px white;
  max-height: 600px;
  max-width: 95%;
  margin-bottom:100px;
  margin-left:4%;
  margin-right:3%;
  float:left;
  }

  /*style code for the text in the body pertaining to the amount me section*/
  section.text{
  display:block;
  flex:wrap;
  border-style:solid;
  border-width:2px;
  border-color:whitesmoke;
  padding:10px;
  box-shadow: 5px 10px 10px white; 
  margin-right:20px;
  border-radius:20px;
  }
  
  /*style code for the images on the bottom of the webpage*/
 img.Port-img-3{
 min-width: auto;
 border-style:solid

 }
 
 /*text style and design for text next to portfolio images*/
 p#description{
  display:inline-block;
  color:white;
  vertical-align:top;
  text-align:left;
  width: 70%;
  margin-left: 10px;
  font-size:20px;
 }

 /*style code for box that holds text over images*/
  section #project-header{
  position: relative;
  top:50px;
  right: 20px;
  background-color: black;
  color: white;
  padding-left: 05px;
  padding-right: 20px;
  max-width:80px;
  border-style:double;
  text-align:left;
  border-radius:5px;
  box-shadow:5px 2px 6px whitesmoke;
  }

  /*style code for the text over images */
  h4#project-header{
   max-width:80px;
   width:80px;
   margin-left: 30px;   
 }

  /*style code for the contact information section*/
  section#contact-information-section{
  color:white;
}

/*style code for the contact information section links*/
  section#contact-information-section a {
  text-decoration:none;
  color:white;
}